<% include ../base_logged.ejs %>

<div id="content-wrapper">
    <div class="mui--appbar-height"></div>
    <div class="mui-container-fluid">

        <form method="POST" action="/client/new">
            <br>
            <h2> Novo sistema </h2><br>
            <div class="form-field">
                <input type="text" name="name" value="" placeholder="Nome do sistema" />
            </div>
            <br>
            <div class="form-field">
                <input type="text" name="systemName" value="" placeholder="Nome técnico do sistema" />
            </div><br>

            <div class="form-field">
                <input type="text" name="port" value="" placeholder="Porta" />
            </div>
            <br>

            <input type="file" name="login_image" accept="image/*"> | Imagem de login
            <br><br>
            <input type="file" name="small_image" accept="image/*"> | Imagem topo fixa

            <br>
            <h2> Módulos ativos: </h2>

            <% if(modules) { %>
                <% modules.forEach(function (module){ %>
                     <input type="radio" name="<%= module.folderName %>" value="<%= module.folderName %>"> <%= module.name %><br>
              <% }) %>
            <% } %>
            <br>
            <div class="form-buttons">
                <button type="submit" class="button">Pronto</button>
            </div>

        </form>
    </div>
</div>



</body>
</html>