<% include ../base_logged.ejs %>

<div id="content-wrapper">
    <div class="mui--appbar-height"></div>
    <div class="mui-container-fluid">
        <h1>Clientes</h1>
        <% if(clients && clients.length > 0){ %>
        <div class="table">
            <div class="table-header">
                <div class="header__item"><a id="action" class="filter__link" href="#">Ação</a></div>
                <div class="header__item"><a id="name" class="filter__link" href="#">Nome</a></div>
                <div class="header__item"><a id="email" class="filter__link filter__link--number" href="#">Nome técnico</a></div>
                <div class="header__item"><a id="phone" class="filter__link" href="#">Porta</a></div>
            </div>
            <div class="table-content">
                <% clients.forEach(function (client){ %>
                <div class="table-row">
                    <div class="table-data"><a href="/client/activate/<%- client.systemName %>">Ativar/Desativar</a></div>
                    <div class="table-data"><%- client.name %></div>
                    <div class="table-data"><%- client.systemName %></div>
                    <div class="table-data"><%- client.port %></div>
                </div>
                <% }); %>
            </div>

        </div>
        <% } %>
    </div>
</div>



</body>
</html>