<% include base.ejs %>

<head>
  <link rel="stylesheet" type="text/css" href="/stylesheets/table.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/base_logged.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/mui.min.css">
  <script src="/javascripts/side_menu.js"></script>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
<div id="sidedrawer" class="mui--no-user-select">
  <div id="sidedrawer-brand" class="mui--appbar-line-height">
    <div id="logo" class="margin-bottom"></div>
  </div>
  <div class="mui-divider"></div>
  <ul>
    <li>
      <a href="/home"><strong>Ínicio</strong></a>
    </li>
    <li>
      <strong>Clientes</strong>
      <ul>
        <second-child><li><a href="/client/new">Novo</a></li></second-child>
        <second-child><li><a href="/client/list">Lista</a></li></second-child>
      </ul>
    </li>

  </ul>
</div>

<header id="header">
  <div class="mui-appbar mui--appbar-line-height">
    <div class="mui-container-fluid">
      <a class="sidedrawer-toggle mui--visible-xs-inline-block mui--visible-sm-inline-block js-show-sidedrawer">☰</a>
      <a class="sidedrawer-toggle mui--hidden-xs mui--hidden-sm js-hide-sidedrawer">☰</a>
      <%if((typeof title != "undefined" ? title : "")){%>
      <a class="sidedrawer-toggle"> <%- title %></a>
      <% } else {%>
      <a class="sidedrawer-toggle"></a>

      <% } %>
  </div>
</header>