<!DOCTYPE html>
<html lang="en">


<% include customer_mid_base.ejs %>


<!-- The Best Of People -->
<section class="app_table">
	<div class="container">


	</div>
	</div>
</section>
<!-- End The Best Of People -->

<!-- Footer -->
<footer>
	<div class="container">
		<div class="row">
			<div class="logo">
				<img src="/img/logo.png" alt="image">
			</div>
			<div class="footer_text">
				<div class="col-xs-6 col-sm-6 col-md-6 p_0">
					<div class="copyright">
					</div>
				</div>
				<div class="col-xs-6 col-sm-6 col-md-6 p_0">
					<ul class="social_icons">
						<li><a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
						<li><a href=""><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
						<li><a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
						<li><a href=""><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>
<!-- End Footer -->


</body>