<!DOCTYPE html>
<html lang="en">


<% include customer_mid_base.ejs %>

	
	<!-- The Best Of People -->
	<section class="app_table">
		<div class="container">
			<div class="heading">
				<div class="head_bar"></div>
				<h2>Entrar</h2>
			</div>
			<form method="POST"  action="/customer/login">
				<br>
				<div class="form-field">
					<input type="text" name="systemName" value="" placeholder="Login" />
				</div>
				<br>
				<div class="form-field">
					<input type="password" name="password" value="" placeholder="Senha" />
				</div>
			
				<br>
				<div class="form-buttons">
					<button type="submit" class="button">Entrar</button>
				</div>
	
			</form>

			</div>
		</div>
	</section>
	<!-- End The Best Of People -->
	
	<!-- Footer -->
	<footer>
		<div class="container">
			<div class="row">
				<div class="logo">
					<img src="/img/logo.png" alt="image">
				</div>
				<div class="footer_text">
					<div class="col-xs-6 col-sm-6 col-md-6 p_0">
						<div class="copyright">
						</div>
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6 p_0">
						<ul class="social_icons">
							<li><a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
							<li><a href=""><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
							<li><a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
							<li><a href=""><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- End Footer -->


</body>