<head>
    <link rel="stylesheet" tyminpe="text/css" href="/javascripts/notie.min.css">
    <script src="/javascripts/notie.min.js"></script>
    <title>Post ERP</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"><link rel="shortcut icon" href="/img/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <!-- Font Family -->
    <link rel="stylesheet" href="/stylesheets/fonts/font-awesome.min.css">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="/stylesheets/bootstrap/bootstrap.min.css">
    <!-- Owl Carousel -->
    <link href="/stylesheets/owl-carousel/owl.carousel.css" rel="stylesheet">
    <!-- Icon Fonts -->
    <link href="/stylesheets/linea/linea.css" rel="stylesheet">
    <!-- Animate Css -->
    <!-- Image Popup -->
    <!-- Header & Footer -->
    <link rel="stylesheet" href="/stylesheets/navigation-menu.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <!-- Theme Style -->
    <link rel="stylesheet" href="/stylesheets/style_customer.css">
    <link rel="stylesheet" href="/stylesheets/responsive.css">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <![endif]-->
    <script src="/javascripts/jquery/jquery-2.1.3.min.js"></script>
    <!-- Bootstrap -->
    <script src="/javascripts/bootstrap/bootstrap.min.js"></script>
    <!-- Jquery Plugins -->
    <script src="/javascripts/plugins/plugin_js.js"></script>
    <!-- Filter -->
    <script src="/javascripts/filter/isotope.pkgd.min.js"></script>
    <!-- Owl Carousel -->
    <script src="/javascripts/owl-carousel/owl.carousel.js"></script>
    <!-- Counters -->
    <script src="/javascripts/counter/jquery.waypoints.min.js"></script>
    <script src="/javascripts/counter/jquery.counterup.min.js"></script>
    <script src="/javascripts/counter/jquery.countdown.js"></script>

    <!-- Image Popup -->
    <script src="/javascripts/gallery/jquery.magnific-popup.min.js"></script>
    <!-- Chart -->
    <script src="/javascripts/chart/jquery.easypiechart.js"></script>
    <!-- Map API -->
    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCEKPkNNxCZ5Bwt0FjjbsE2HsePYbpkS84"></script>
    <!-- Main Jquery -->
    <script src="/javascripts/main.js"></script>
</head>
<body>


<!-- Navigation -->
<nav class="navbar navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="navbar-brand"><a href="" class="logo"><img src="/img/logo.png" alt="logo"></a></div>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="/customer/hire">Home</a>
                </li>
                <li class="dropdown active">

                <li class="dropdown">
                    <a href="/customer/login">Login</a>

                </li>
                <li class="dropdown">
                    <a href="/customer/hire">Hire</a>
                </li>
                <li class="dropdown full_menu shortcode">

            </ul>
        </div>
    </div>
</nav>
<!-- End Navigation -->

<!-- Banner -->
<header>
    <div class="caption_header caption_image_11" id="short-header">
        <div class="overlay_bg"></div>
        <div class="caption_content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 p_0 wow animated fadeInUp" data-wow-delay="1.3s" data-wow-duration="1s">
                        <div class="caption_text">
                            <h1> Post ERP </h1>
                            <p>Dinâmico, fácil, e econômico.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- End Banner -->



<% if(message) { %>
<script>
  window.onload = function messages() {
      <% if(message.error){ %>
    notie.alert({ type: 'error', text: '<%= message.error %>' })
      <% } else if(message.success) {%>
    notie.alert({ type: 'success', text: '<%= message.success %>' })
      <% } %>
  }
</script>

<% } %>


