<head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/table.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/base_logged.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/mui.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/admin.styl">
    <link rel="stylesheet" tyminpe="text/css" href="/javascripts/notie.min.css">
    <script src="/javascripts/side_menu.js"></script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>



<div id="content-wrapper">
    <div class="mui--appbar-height"></div>
    <div class="mui-container-fluid">

        <form method="POST"  action="/client/new">
            <br>
            <div class="form-field">
                <input type="text" name="name" value="" placeholder="Nome do sistema" />
            </div>
            <br>
            <div class="form-field">
                <input type="text" name="systemName" value="" placeholder="Nome técnico do sistema" />
            </div><br>

            <div class="form-field">
                <input type="text" name="port" value="" placeholder="Porta" />
            </div>
            <br>

            <input type="file" name="loginImage" accept="image/*"> | Imagem de login
            <br><br>
            <input type="file" name="smallImage" accept="image/*"> | Imagem topo fixa

            <br>
            <h2> Módulos ativos: </h2>

            <% if(modules) { %>
                <% modules.forEach(function (module){ %>
                     <input type="checkbox" name="<%= module.folderName %>" value="<%= module.folderName %>"> <%= module.name %><br>
              <% }) %>
            <% } %>
            <br>
            <div class="form-buttons">
                <button type="submit" class="button">Pronto</button>
            </div>

        </form>
    </div>
</div>



</body>
</html>